
table,
table th,
table td{
    border: 1px lightgray solid;
}

p#erreur{
    color: red;
}

/* CONNEXION */
form[name=formConnexion] p{
    margin-bottom: 0;
}
form[name=formConnexion] input[type=text],
form[name=formConnexion] input[type=password]{
    margin-bottom: 20px;
    width: 100%;
}
form[name=formConnexion] p#reserve{
    margin-top: 2em;
}

/* VOITURES */
div.voiture{
    display: grid;
    grid-template-columns: max-content max-content;

    margin-top: 2em;

    border: 1px solid black;
    background-color: white;
}
div.voiture:first-of-type{
    margin-top: 0;
}
div.voiture img{
    width: 300px;
}
div.voiture div{
    display: grid;
    grid-template-columns: max-content;

    margin: 1em;
}
div.voiture div+p{
    margin-top: 1em;
    grid-column: span 2;
}

/* RESERVATION */
form[name=formReserv] p{
    margin-bottom: 0;
}
form[name=formReserv] fieldset{
    margin-bottom: 1.5em;
}
form[name=formReserv] fieldset:first-of-type{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
}
form[name=formReserv] fieldset:nth-of-type(3){
    display: grid;
    grid-template-columns: max-content max-content;

    column-gap: 10%;
}
form[name=formReserv] fieldset:nth-of-type(3) div{
    display: grid;
    grid-template-columns: max-content max-content;

    column-gap: 0.5em;
}
form[name=formReserv] fieldset:nth-of-type(3) div label{
    margin:0;
}
form[name=formReserv] input[type=text],
form[name=formReserv] input[type=date],
form[name=formReserv] input[type=email]{
    margin-top: 0.5em;
    width: 100%;
}

/* AJOUTER VOITURE */
form[name=formAjouterVoiture] p{
    margin-bottom: 0;
}
form[name=formAjouterVoiture] input[type=number],
form[name=formAjouterVoiture] input[type=text]{
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    width: 100%;
}
form[name=formAjouterVoiture] fieldset:nth-of-type(2),
form[name=formAjouterVoiture] fieldset:nth-of-type(3){
    display: grid;
    grid-template-columns: auto auto;

    column-gap: 1em;
}
form[name=formAjouterVoiture] textarea{
    height: 10em;
}
form[name=formAjouterVoiture] input[type=file]{
    margin: 2em 0;
}
form[name=formAjouterVoiture] fieldset:last-of-type{
    display: grid;
    grid-template-columns: max-content max-content;

    column-gap: 1em;
}


/* MODIFIER VOITURE */
form[name=formModifierVoiture] p{
    margin-bottom: 0;
}
form[name=formModifierVoiture] input[type=number],
form[name=formModifierVoiture] input[type=text]{
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    width: 100%;
}
form[name=formModifierVoiture] fieldset:nth-of-type(2){
    display: grid;
    grid-template-columns: auto auto auto;

    column-gap: 1em;
}
form[name=formModifierVoiture] fieldset:nth-of-type(3){
    display: grid;
    grid-template-columns: auto auto;

    column-gap: 1em;
}
form[name=formModifierVoiture] textarea{
    height: 6em;
}
form[name=formModifierVoiture] fieldset:last-of-type{
    display: grid;
    grid-template-columns: max-content max-content;

    margin-top: 1.5em;
    column-gap: 1em;
}


/* RESPONSIVE */
@media screen and (max-width: 1000px) {
    div#content{
        position: relative;
    }
    div.voiture{
        grid-template-columns: max-content;
    }
}