
p#erreur{
    color: red;
}

/* CONNEXION */
form[name=formConnexion] p{
    margin-bottom: 0;
}
form[name=formConnexion] input[type=text],
form[name=formConnexion] input[type=password]{
    margin-bottom: 20px;
    width: 100%;
}
form[name=formConnexion] p#reserve{
    margin-top: 2em;
}

/* VOITURES */
/*TEST1*/
div.voiture{
    border-bottom: rgba(93,93,93,0.5) 2px solid;
    text-align: center;

    margin-top: 4em;
}
div.voiture:first-of-type{
    margin-top: 0;
}
div.voiture:last-of-type{
    border-bottom: none;
}
div.voiture img{
    width: 80%;
}
div.voiture div{
    display: grid;
    grid-template-columns: auto auto auto auto;

    margin-top: 1em;
}
div.voiture p{
    text-align: center;
}

/*TEST2*/
/*div.voiture{*/
/*    display: grid;*/
/*    grid-template-columns: max-content auto;*/

/*    margin-top: 4em;*/

/*    border-bottom: rgba(93,93,93,0.5) 2px solid;*/
/*}*/
/*div.voiture:first-of-type{*/
/*    margin-top: 0;*/
/*}*/
/*div.voiture:last-of-type{*/
/*    border-bottom: none;*/
/*}*/
/*div.voiture img{*/
/*    width: 500px;*/
/*}*/
/*div.voiture div{*/
/*    display: grid;*/
/*    grid-template-columns: max-content;*/

/*    margin-left: 1em;*/
/*}*/
/*div.voiture div+p{*/
/*    margin-top: 1em;*/
/*    grid-column: span 2;*/
/*}*/